<%= form_with model: @url do |form| %>
  <div style="color: white">
    <%= form.label :'Your_long_url' %><br>
    <%= form.text_field :long_url %>
  </div>

  <div class= 'form_button'>
    <%= form.submit %>
  </div>
<% end %>
