<h1>This is your shortened link for: "<%=@url.long_url%>"</h1>
<p> Click to be redirected to the website </p>
<h1><%= link_to @url.short_url, @url.long_url %></h1>


<%# <p><%= @url.short_url</p> %>

<%# "Where you want to go 👀" %>