<h1 class="show">This is your shortened link for: "<%=@url.long_url%>"</h1>
<br>
<p> Click to be redirected to the website </p>
<p class='link'><%= link_to @url.short_url, @url.long_url %></p>


<%# <p><%= @url.short_url</p> %>
