/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
  margin: 42px;
  font-family: 'Comfortaa';
  background-image: url('/assets/background_image.png');
  background-size:cover;

}

h1 {
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: 50px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
  border: 5px solid white;
  margin-right: 5px;
  width: 120px;
  text-align: center;
  padding: 1%;
  border-radius: 15px;
  color: white
}

p {
  font-size: 30px;
  color: white;
  text-align: center;
}

.form {
  margin: 42px;
  font-family: 'Comfortaa';
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.list {
  font-size: 20px;
  padding: 15px;
  color: white
}

a:link { 
  color: #333333;
}
a:visited { 
  color: #FFFFFF;
}
a:hover { 
  color: #CCCCCC;
}
a:active { 
  color: #333333;
}

.show {
  margin: 40px;
  background-color:darkolivegreen;
  font-size:50px;
  padding: 10px;
  border-radius: 20px;
}

.link {
  padding:5px;
  font-size: 30px;
}

.form_link {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color:#c28ae3;
  width: 120px;
  padding: 10px;
}

.btn {
  color: #c28ae3;
  font-family: Comfortaa;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  
}

.linking {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #333333;
  padding: 15px;
  width: 500px;
}

.small {
  font-size: 20px;
  font-style: italic;
  margin: 1px;
  color:#c28ae3;
}
